.myskill_area .skill_text {
  padding-bottom: 28px;
}

.myskill_area .skill_text h4 {
  font-family: "Raleway", sans-serif;
  color: #333333;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 25px;
}

.myskill_area .skill_text p {
  font-size: 13px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: #333333;
}

.myskill_area .skill_item_inner .single_skill h4 {
  font-size: 16px;
  color: #333333;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 5px;
}

.myskill_area .skill_item_inner .single_skill .progress {
  margin-bottom: 30px;
  height: 30px;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  background: #fff;
}

.myskill_area .skill_item_inner .single_skill .progress .progress-bar {
  background: #1d8ffb;
  box-shadow: none;
}

.myskill_area .skill_item_inner .single_skill .progress .progress-bar .progress_parcent {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  text-align: right;
  padding-right: 10px;
}

.myskill_area .skill_item_inner .single_skill:last-child .progress {
  margin-bottom: 0px;
}